{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Delete Aphorism</title>
{% endblock title %}


{% block page_title %}

    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="mt-2">Delete Aphorism</h1>
            <hr class="mt-0 mb-4">
        </div>
    </div>

{% endblock page_title %}

{% block content %}

    {% url 'aphorisms:aphorism_list' as aphorism_list %}

    <p class="h5">Please 'Confirm' or 'Decline' that you want to delete the Aphorism:</p>
    <h3 class="my-1">{{ object.text }}</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary btn-lg" value="Confirm"
               style="margin-right: 30px; margin-top: 30px;">
        <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;"
               onclick="window.location='{{ aphorism_list }}'; return false;" value="Decline">
    </form>

{% endblock %}